{% extends "layout.html" %}
{% load current_time greeting i18n %}
{% block content %}
    <h6>{% current_time %}</h6>
    <header id="greetings">
        <h1>{% greeting %}</h1>
        <div hx-get="{% url "home:weather" %}" hx-trigger="revealed, every 3600s">Weather</div>
    </header>
    <section id="apps" hx-get="{% url "applications:home" %}" hx-trigger="revealed">
        {% trans "front.applications.loading" %}
    </section>
    <section id="bookmarks" hx-get="{% url "bookmarks:home" %}" hx-trigger="revealed">
        {% trans "front.loading" %}
    </section>
{% endblock content %}
