{% extends "layout.html" %}
{% load current_time greeting i18n %}
{% block content %}
    <h6>{% current_time %}</h6>
    <header class="hstack mb-3" id="greetings">
        <h1 class="fs-1 fw-bolder">{% greeting %}</h1>
        <div class="ms-auto"></div>
        <div hx-get="{% url "home:weather" %}" hx-trigger="revealed, every 3600s">Weather</div>
    </header>
    <section>
        <h2><a href="{% url "applications:index" %}">{% trans "applications.title" %}</a></h2>
        <div hx-get="{% url "applications:home" %}" hx-trigger="revealed">Loading...</div>
    </section>
    <section id="home-bookmarks">
        <h2><a href="{% url "bookmarks:index" %}">{% trans "bookmarks.h2" %}</a></h2>
        <div hx-get="{% url "bookmarks:home" %}" hx-trigger="revealed">Loading...</div>
    </section>
{% endblock content %}
