{% load i18n %}
<ul>
    <li{% if current == "index" %} class="active"{% endif %}>
        <a href="{% url "user:index" %}">{% trans "settings.nav.general" %}</a>
    </li>
    {% if request.user.is_authenticated %}
    <li{% if current == "applications" %} class="active"{% endif %}>
        <a href="{% url "applications:manage" %}">{% trans "settings.nav.applications" %}</a>
    </li>
    <li{% if current == "bookmarks" %} class="active"{% endif %}>
        <a href="{% url "bookmarks:manage" %}">{% trans "settings.nav.bookmarks" %}</a>
    </li>
    <li{% if current == "weather" %} class="active"{% endif %}>
        <a href="{% url "user:weather" %}">{% trans "settings.nav.weather" %}</a>
    </li>
    <li>
        <a href="{% url "admin:index" %}" target="_blank">{% trans "settings.nav.django_admin" %} <iconify-icon icon="mdi:open-in-new" class="text-gray-600"></iconify-icon></a>
    </li>
    <li class="mt-4">
        <form method="post" action="{% url "user:logout" %}">
            {% csrf_token %}
            <button type="submit">{% trans "settings.nav.logout" %}</button>
        </form>
    </li>
    {% endif %}
</ul>
