{% load i18n %}
<ul>
    <li{% if current == "index" %} class="active"{% endif %}>
        <a href="{% url "user:index" %}">{% trans "settings.nav.general" %}</a>
    </li>
    {% if request.user.is_authenticated %}
    <li{% if current == "applications" %} class="active"{% endif %}>
        <a href="{% url "applications:manage" %}">{% trans "settings.nav.applications" %}</a>
    </li>
    <li{% if current == "bookmarks" %} class="active"{% endif %}>
        <a href="{% url "bookmarks:manage" %}">{% trans "settings.nav.bookmarks" %}</a>
    </li>
    <li{% if current == "weather" %} class="active"{% endif %}>
        <a href="{% url "user:weather" %}">{% trans "settings.nav.weather" %}</a>
    </li>
    {% endif %}
    <li{% if current == "about" %} class="active"{% endif %}>
        <a href="{% url "user:about" %}">{% trans "settings.nav.about" %}</a>
    </li>
    {% if request.user.is_authenticated %}
    <li><hr/></li>
    <li{% if current == "backup" %} class="active"{% endif %}>
        <a href="{% url "user:backup" %}">{% trans "settings.nav.backup" %}</a>
    </li>
    <li>
        <a href="{% url "admin:index" %}">{% trans "settings.nav.django_admin" %}</a>
    </li>
    <li>
        <form method="post" action="{% url "user:logout" %}">
            {% csrf_token %}
            <button type="submit">{% trans "settings.nav.logout" %}</button>
        </form>
    </li>
    {% endif %}
</ul>
