{% load i18n %}
{% for category in categories %}
<tr>
    <td class="drag-handle">
        <input type="hidden" name="pk" value="{{ category.pk }}" />
        <iconify-icon icon="mdi:drag-vertical" class="text-2xl"></iconify-icon>
    </td>
    <th scope="row">
        {{ category.name }} ({{ category.position }})
    </th>
    <td><iconify-icon class="text-xl" icon="mdi:visibility-{{ category.is_public|yesno:"outline,off-outline" }}"></iconify-icon> {{ category.is_public|yesno:_("public,private") }}</td>
    <td><strong><a href="#" class="underline">{{ category.bookmarks.count }}</a></strong></td>
    <td class="actions text-right">
        <ul>
            <li><a href="{% url "bookmarks:category_update" pk=category.id %}">{% trans "forms.buttons.update" %}</a></li>
            <li><a href="{% url "bookmarks:category_delete" pk=category.id %}">{% trans "forms.buttons.delete" %}</a></li>
        </ul>
       </td>
</tr>
{% endfor %}
