{% extends "user/base.html" %}
{% load i18n %}
{% block inner %}
    <section id="admin-page-content">
        <h2>{% trans "settings.apps.delete.title" %}</h2>
        <div class="admin-block admin-block-padded">
            <p>{% blocktrans with app_name=application.name %}settings.apps.delete.message {{ app_name }}{% endblocktrans %}</p>
            <form method="post" class="mx-auto text-center mt-4 mb-2">
                {% csrf_token %}
                <input type="submit" class="red" value="{% trans "settings.apps.delete.button.title" %}" />
            </form>
        </div>
    </section>
{% endblock inner %}
