<div class="row">
    {% for application in applications %}
        <a class="col-3 app_link link-underline link-underline-opacity-0" href="{{ application.url }}" target="_blank">
            <div class="hstack gap-2">
                <div class="app_icon"><iconify-icon icon="mdi:{{ application.icon }}" observer="false"></iconify-icon></div>
                <div class="app_title vstack gap-0">
                    <h3>{{ application.name }}</h3>
                    <span>{{ application.subtitle }}</span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
