{% extends "layout.html" %}
{% load i18n %}
{% block content %}
    <header class="vstack mb-4">
        <h1 class="fs-1 fw-bolder">{% trans "applications.title" %}</h1>
        <aside><a class="link-secondary link-underline link-underline-opacity-0" href="{% url "home:index" %}">{% trans "backhome.link.title" %}</a></aside>
    </header>
    <section id="home-applications">
        <div class="mt-3" hx-get="{% url "applications:home" %}?pinned=false" hx-trigger="revealed">Loading...</div>
    </section>
{% endblock content %}
