{% extends "user/base.html" %}
{% load i18n static %}
{% block head_extra %}
    <script defer src="{% static 'js/sortable.min.js' %}"></script>
    <script defer src="{% static 'js/sortable-lists.js' %}"></script>
{% endblock head_extra %}
{% block inner %}
    <section id="admin-page-content">
        <h2>
            {% trans "apps.manage_header" %}
            <a class="main-action" href="{% url "applications:create" %}">{% trans "apps.new_button" %}</a>
        </h2>
        <div class="admin-block">
            <form hx-post="{% url "applications:reorder" %}" hx-trigger="end" hx-target=".sortable">
                {% csrf_token %}
                <table id="applications-list" class="listing">
                    <thead>
                        <tr>
                            <th scope="col"><span class="sr-only">{% trans "global.table.sort_handle" %}</span></th>
                            <th scope="col">{% trans "global.table.name_header" %}</th>
                            <th scope="col">{% trans "global.table.url_header" %}</th>
                            <th scope="col">{% trans "global.table.visibility_header" %}</th>
                            <th scope="col">{% trans "apps.table.pinned_header" %}</th>
                            <th scope="col"><span class="sr-only">{% trans "global.table.actions" %}</span></th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                        {% include "applications/manage/_list.html" with applications=applications %}
                    </tbody>
                </table>
            </form>
        </div>
    </section>
{% endblock inner %}
