{% extends "user/base.html" %}
{% load i18n %}
{% block inner %}
    <section id="admin-page-content">
        <h2>{% trans "settings.apps.edit.title" %}</h2>
        <div class="admin-block admin-block-padded">
            <form method="post">
                {% csrf_token %}
                {% include "applications/_form.html" with form=form %}
                <div class="w-full text-center mt-6">
                    <input type="submit" class="button" value="{% trans "apps.manage.forms.update.new" %}">
                </div>
            </form>
        </div>
    </section>
{% endblock inner %}
