{% load i18n %}
{% for bookmark in bookmarks %}
<tr>
    <td class="drag-handle">
        <input type="hidden" name="pk" value="{{ bookmark.pk }}" />
        <iconify-icon icon="mdi:drag-vertical" class="text-2xl"></iconify-icon>
    </td>
    <th scope="row">
        <iconify-icon icon="mdi:{{ bookmark.icon|default_if_none:"border-none-variant" }}" class="text-4xl"></iconify-icon>
        {{ bookmark.name }} ({{ bookmark.position }})
    </th>
    <td class="max-w-64"><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
    <td>{{ bookmark.category.name }}</td>
    <td><iconify-icon class="text-xl" icon="mdi:visibility-{{ bookmark.is_public|yesno:"outline,off-outline" }}"></iconify-icon> {{ bookmark.is_public|yesno:_("public,private") }}</td>
    <td class="actions text-right">
        <ul>
            <li><a href="{% url "bookmarks:bookmark_update" pk=bookmark.id %}">{% trans "forms.buttons.update" %}</a></li>
            <li><a href="{% url "bookmarks:bookmark_delete" pk=bookmark.id %}">{% trans "forms.buttons.delete" %}</a></li>
        </ul>
       </td>
</tr>
{% endfor %}
