{% extends "user/base.html" %}
{% load i18n %}
{% block inner %}
    <section id="admin-page-content">
        <h2>{% trans "bm.new" %}</h2>
        <div class="admin-block admin-block-padded">
            <form method="post">
                {% csrf_token %}
                {% include "bookmarks/bookmark/_form.html" with form=form %}
                <div class="w-full text-center mt-6">
                    <input type="submit" class="button" value="{% trans "bm.bookmark.button.create" %}">
                </div>
            </form>
        </div>
    </section>
{% endblock inner %}
