{% extends "manage.html" %}
{% load i18n %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-10 mt-5">
            <p>
                {% blocktrans with name=bookmark.name %}bm.bookmark.delete.message {{ name }}{% endblocktrans %}
            </p>
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger d-block w-75" value="{% trans "bm.bookmark.button.delete" %}">
            </form>
        </div>
    </div>
{% endblock content %}
