/*
      "colors": {
        "background": "#242B33",
        "primary": "#EFFBFF",
        "accent": "#6EE2FF"
      },
 */
:root {
    --bs-body-bg: #242B33;
    --bs-body-color: #EFFBFF;
    --accent-color: #6EE2FF;

    /* Extended overrides */
    --bs-link-color:  #EFFBFF;
}
html {
    height: 100vh;
    font-size: 14px;
}

h2 > a {
    color: var(--bs-body-color) !important;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0.6em;
}

h3 {
    color: var(--accent-color);
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

/* App stack */
a.app_link {
    padding: .3em;
    margin-bottom: 1em;
}
a.app_link iconify-icon {
    color: var(--bs-body-color);
    font-size: 2.5em;
}
a.app_link h3 {
    color: var(--bs-body-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}

a.app_link span {
    color: var(--accent-color);
    font-size: 0.8em;
    text-transform: uppercase;
}

div#bookmarks ul {
    padding-left: 0;
    list-style: none;
}

div#bookmarks li a {
    color: var(--bs-body-color);
    padding: .5em;
    font-size: 1em;
}

/* Weather */
#weather iconify-icon {
    font-size: 4em;
    margin-right: .2em;
    color: var(--accent-color);
}
#weather hr {
    margin: 0.2em 0;
}

/* FAB settings */
a#fab-settings {
    font-size: 2em;
    color: var(--bs-body-color);
    padding-left: .2em;
}
