/* Main content */
.container {
  --max-width: 1600px;
}

body {
    color: var(--font-color);
}
footer {
    padding-top: 3em;
}

h2 {
    font-size: 1.3em;
    font-weight: bolder;
    text-transform: uppercase;
}

h2 > a {
    text-decoration: none;
}
h2 > a:hover {text-decoration: none;}

/** Section header */
section > header > aside {
    margin-top: 2em;
    text-transform: uppercase;
}

/* theme selector */
dl#theme-selector dd {
    border: 1px solid red;
    display: inline;
    width: 3em;
}
dl#theme-selector div {
    display: inline-block;
    width: 2em;
    height: 2em;
}