{% load static django_htmx %}
<!doctype html>
<html lang="en" data-bs-core="modern">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}My title{% endblock title %}</title>
        <!-- Halfmoon CSS -->
        <link href="{% static "css/halfmoon.css" %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}" />
        <script src="{% static 'js/htmx.min.js' %}"></script>
        {% django_htmx_script %}
    </head>
    <body>
        <main class="container" id="page">
            {% block content %}{% endblock content %}
        </main>
        <aside class="sticky-bottom">SETTINGS</aside>

        <!-- Option 1: Bootstrap JS bundle with Popper -->
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
