{% load static django_htmx i18n %}
<!DOCTYPE html>
<html lang="en" data-bs-core="modern" data-bs-theme="dark">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ global_preferences.general__site_title }}</title>
        {% include "partials/favicons.html" %}
        <style type="text/css">
            :root {
                --body-bg: #242B33;
                --body-color: #EFFBFF;
                --accent-color: #6EE2FF;

                /* Extended overrides */
                --bs-link-color:  #EFFBFF;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static "css/front.css" %}" />
        {% block head_extra %}{% endblock head_extra %}
    </head>
    <body>
        <main id="page">
            {% block content %}{% endblock content %}
        </main>
        <!-- Bottom-Left Corner -->
        <aside id="fab">
            <a href="{% url "user:index" %}" id="fab-settings" alt="{% trans "fab.settings" %}" title="{% trans "fab.settings" %}"><iconify-icon icon="mdi:settings"/></a>
        </aside>
        <script defer src="{% static 'js/htmx.min.js' %}"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
    </body>
</html>
