{% load static django_htmx i18n %}
<!DOCTYPE html>
<html lang="en" data-bs-core="modern" data-bs-theme="dark">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ global_preferences.general__site_title }}</title>
        {% include "partials/favicons.html" %}
        <link rel="stylesheet" type="text/css" href="{% static "css/output.css" %}" />
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
        {% django_htmx_script %}
        {% block head_extra %}{% endblock head_extra %}
    </head>
    <body class="bg-[#242B33]">
        <main class="container max-w-screen-xl" id="page">
            {% block content %}{% endblock content %}
        </main>
        <aside class="position-absolute bottom-0 start-0">
            <a href="{% url "user:index" %}" id="fab-settings" alt="{% trans "fab.settings" %}" title="{% trans "fab.settings" %}"><iconify-icon icon="mdi:settings"/></a>
        </aside>

        <!-- Modal placeholder -->
        <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog" hx-target="this"></div>
        </div>
        <script defer src="{% static "js/app.js" %}"></script>
        <script defer src="{% static "js/flowbite-2.5.2.min.js" %}"></script>
    </body>
</html>
