{% extends "layout.html" %}
{% load i18n %}
{% block head_extra %}
    <script type="text/javascript">
    document.documentElement.classList.toggle(
  'dark',
  localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
)
    </script>
{% endblock head_extra %}
{% block content %}
    {% translate "settings.title" as title %}
    {% include "partials/_section_header.html" with title=title %}
    <section class="grid grid-cols-6 gap-6 text-base">
        <nav>
            {% include "partials/nav.html" %}
        </nav>
        <div class="col-span-5 text-base">
            {% include "partials/messages.html" %}
            {% block inner %}{% endblock inner %}
        </div>
    </section>
{% endblock content %}
