{% extends "layout.html" %}
{% load i18n %}
{% block content %}
    <section class="container">
        {% include "partials/_section_header.html" with title="settings.title" %}
        <div class="row">
            <div class="col-2">
                {% include "partials/nav.html" %}
            </div>
            <div class="col">
                {% include "partials/messages.html" %}
                <div class="container">
                    {% block inner %}{% endblock inner %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
