 {% extends "manage.html" %}
{% load i18n %}
{% block content %}
<div class="container max-w-md">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <form class="space-y-4 md:space-y-6" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}" class="block mb-2 font-medium">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="w-full" required="">
            </div>
            {% endfor %}
            <button type="submit" class="button w-full">{% trans "signin.form.submit_button" %}</button>
        </form>
        {% if show_oidc_link %}
        <div class="space-y-4 text-center">
            <hr class="pb-4"/>
            <a class="button w-full" href="{% url "oidc_authentication_init" %}">{% trans "signin.form.oidc_button" %}</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
