 {% extends "user/base.html" %}
{% load i18n %}
{% block inner %}
    {% csrf_token %}
    <div class="container max-w-md">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <form class="space-y-4 md:space-y-6" method="POST">
                  {% csrf_token %}
                  {% for field in form %}
                  <div>
                      <label for="{{ field.id_for_label }}" class="block mb-2 font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                      <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                  {% endfor %}
              {% comment %}
              	<div class="flex items-center justify-between">

                      <div class="flex items-start">
                          <div class="flex items-center h-5">
                            <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                          </div>
                      </div>

                      <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
                  </div>
              {% endcomment %}
                  <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{% trans "signin.form.submit_button" %}</button>
              </form>
                {% if show_oidc_link %}
                    <a href="{% url "oidc_authentication_init" %}">{% trabn
                        %}</a>
          {% endif %}
          </div>
      </div>
{% endblock inner %}
