{% extends "user/base.html" %}
{% load i18n %}
{% block inner %}
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" required/>
                    </div>
                {% endfor %}
                <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-primary d-block w-100">{% trans "signin.form.submit_button" %}</button>
                </div>
            </form>
        <a href="{% url 'oidc_authentication_init' %}">Login with OIDC</a>
        </div>
    </div>
{% endblock inner %}
