{% extends "user/base.html" %}
{% load i18n %}
{% block inner %}
    <section id="admin-page-content">
        <h2>{% trans "weather.update_header" %}</h2>
        <div class="admin-block admin-block-padded">
            <p class="text-sm text-justify text-gray-300">
                {% blocktrans %}Weather data is provided by <a href="https://www.weatherapi.com/">WeatherAPI</a>. You can subscribe for free to the service and get your own key.{% endblocktrans %}
            </p>
            <form method="post" action="{% url "user:weather" %}" class="container">
                {% csrf_token %}
                {% for field in form %}
                <div class="flex my-4">
                    <div class="w-1/2">
                        <label class="block" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <span class="text-sm text-gray-500">{{ field.help_text }}</span>
                    </div>
                    <div class="w-1/2 text-end">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="w-full text-center mt-6">
                    <input type="submit" class="button" value="{% trans "forms.buttons.update" %}">
                </div>
            </form>
        </div>
    </section>
{% endblock inner %}
